
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icu soon</title>
</head>
<link rel="stylesheet" href="/advisory.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merienda:wght@700&family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">


<body>

    //- <nav>
    //-     <input type="checkbox" id="check">

    //-     <label for="check" class="checkbtn">
    //-         <i class="fas fa-bars"></i>
    //-     </label>
    //-     <ul>
    //-         <li><a class="active" href="P1doc.html">Home</a></li>
    //-         <li><a href="#">Services & Condition</a></li>
    //-         <li><a href="#">Contact Us</a></li>
    //-         <!-- <li><a href="#">Feedback</a></li> -->
    //-         <li><a href="#" class="em">Emergency</a></li>
    //-         <li><a href="#" class="signin">Sign up/Log in</a></li>
    //-     </ul>
    //-     <div class="logo">
    //-         <img src="pimg/logopro.png" alt="ICU soon">
    //-     </div>

    //- </nav>

    include navigation.pug

    <section class="s1">
        <div class="s1_head">
            High Fever
        </div>
        <div class="s1_by">
            Advised by: Dr Hemant Bajaj
        </div>
    </section>


    <section class="intro">
        <fieldset class="f1">
            <legend class="heading1">
                <h2>Description about High fever</h2>
            </legend>
            <div class="para1">
                A high fever is when the body temperature rises above 104 degrees Fahrenheit in an adult and 101 for a child. A fever this high may indicate the presence of a serious infection that has triggered your immune system. The fever is the immune system’s attempt to kill the infection. Very rarely, however, this immune response can result in a fever high enough to cause permanent harm or even life-threatening complications due to overheating.The causes of high fever vary, and they include such relatively routine conditions as sore throt. Some causes may be more serious and include such conditions as appendicitis and pneumonia.
            </div>
        </fieldset>
    </section>


    <fieldset class="f2">
        <legend class="head1">
            <h2>Causes of High fever</h2>
        </legend>
        <div class="para2">
            <p>Your immune system raises your body’s temperature to eliminate certain infections or to impede the
                growth of microorganisms that cause disease (most bacteria affecting humans flourish in normal or
                near normal body temperatures). While it is a natural immune response and can kill infection, high
                fever can be uncomfortable. Fever symptoms worsen when the body is unable to rid the body of the
                extra heat. Treatments are aimed at reversing the fever and helping lower the body temperature.</p>
        </div>
    </fieldset>

    <section class="intro">
        <fieldset class="f3">
            <legend class="heading3">
                <h2>Symptoms along with high fever</h2>
            </legend>
            <div class="para3">
                High fever may accompany other symptoms related to infection or inflammation including:
                <ul>
                    <li>&#187; Abdominal pain </li>
                    <li>&#187; Bone pain</li>
                    <li>&#187; Change in bowel habits </li>
                    <li>&#187; Excessive sweating</li>
                    <li>&#187; Headache</li>
                    <li>&#187; Loss of appetite</li>
                    <li>&#187; Rash or blisters</li>
                    <li>&#187; Shaking, seizure or convulsion</li>
                    <li>&#187; Shortness of breath</li>
                    <li>&#187; Warmth, redness or swelling of a body area</li>
                </ul>
            </div>
        </fieldset>
        <img src="/pimg/adv1.jpg" alt="">
    </section>
    <br>

    <section class="motiv">
        <p> You are strong enough to fight through this
        </p>
    </section>

    <fieldset class="f4">
        <legend class="heading4">
            <h2>Cure at home</h2>
        </legend>
        <div class="para4">
            <ul>
                <li>&#187; Drink Fluids </li>
                <p>A viral fever makes your body much warmer than usual. This causes your body to sweat in an effort to cool down. But this leads to fluid loss, which can cause dehydration. Try to drink as much as you can when you have a viral fever to replenish lost fluids. It doesn’t have to be just water, either. Any of the following can provide hydration:
                </p><br>
                <li>&#187; Get plenty of rest</li>
                p  A viral fever is a sign that your body is working hard to fight off an infection. Cut yourself some slack by resting as much as possible. Even if you can’t spend the day in bed, try to avoid physical activity as much possible. Aim for eight to nine hours or more of sleep per night. During the day, take it easy.

                <br>
                <li>&#187; Stay cool </li>
                <p> You can help cool down your body by surrounding it with cooler temperatures. Make sure you don’t overdo it. If you start to shiver, stop immediately. Shivering can cause your fever to rise. Sit in a bath of lukewarm water, which will feel cool when you have a fever. Give yourself a sponge bath with lukewarm water.
                </p>
            </ul>
        </div>
    </fieldset>


    <fieldset class="f5">
        <legend class="heading5">
            <h2>The FInal step</h2>
        </legend>
        <div class="para5">
            <p> A viral fever is usually nothing to worry about. In both children and adults, most viruses resolve on their own and are part of the healing process. But if you notice unusual symptoms, or a fever doesn’t go away after a day or so, it’s best to call your doctor.
            </p>
        </div>
    </fieldset>

    <section class="stats">
        <div class="bigbox4">
            <div class="box4">
                <h1>368</h1>
                <h1>--------</h>
                    <h1>Successful Transplant</h1>
            </div>
            <div class="box4">
                <h1>19,260</h1>
                <h1>--------</h>
                    <h1>Happy Patients</h1>
            </div>
            <div class="box4">
                <h1>84</h1>
                <h1>--------</h>
                    <h1>Awards Winning</h1>
            </div>
            <div class="box4">
                <h1>2,500</h1>
                <h1>--------</h1>
                <h1>Associate Lab</h1>
            </div>
            <div class="box4">
                <h1>6,280</h1>
                <h1>--------</h>
                    <h1>Specialized Doctors</h1>
            </div>
        </div>

    </section>

    <footer>
        <div class="footer">
            <p>Copyright &#169; 2021 - Group 4</p>
        </div>
        <p class="rights">All rights reserved</p>
    </footer>
</body>

</html>