
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merienda:wght@700&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/services.css">
</head>

<body>

    //- <nav>
    //-     <input type="checkbox" id="check">

    //-     <label for="check" class="checkbtn">
    //-         <i class="fas fa-bars"></i>
    //-     </label>
    //-     <ul>
    //-         <li><a class="active" href="#">Home</a></li>
    //-         <li><a href="#">Services & Condition</a></li>
    //-         <li><a href="#">Contact Us</a></li>
    //-         <li><a href="#" class="em">Emergency</a></li>
    //-         <li><a href="form.html" class="signin">Sign up/Log in</a></li>
    //-     </ul>
    //-     <div class="logo">
    //-         <img src="/pimg/logopro.png" alt="ICU soon">
    //-     </div>

    //- </nav>

    include navigation.pug


    <div class="services">
        <h1>Our Services</h1>
        <div class="content">
            <div class="card">
                <div class="box">
                    <i class="fa fa-vcard"></i>
                    <h3>Quick Support</h3>
                    <p>Providing medical support and quick advisory from our top doctors for common health problems. Description, symptoms, cures at home and doctors advise just in a few clicks.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-plus-square"></i>
                    <h3>Book appointment</h3>
                    <p>Doctors near you and with the speciallity you need, book them for any date and time
                        Read the doctor discrpition and rating comapre then and you will be ready to confirm the
                        booking any time any where.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-user-md"></i>
                    <h3>For you & all</h3>
                    <p>Willing to help! we are glad to welcome you to join our hand. Login as doctor and fill
                        the form.
                        Everything of that will be made visible to our users. As a patient or as a doctor this is for
                        you and all.</p>
                </div>
            </div>
        </div>

    </div>

    <section class="stats">
        <div class="bigbox4">
            <div class="box4">
                <h1>368</h1>
                <h1>--------</h>
                <h1>Successful Transplant</h1>
            </div>
            <div class="box4">
                <h1>19,260</h1>
                <h1>--------</h>
                    <h1>Happy Patients</h1>
            </div>
            <div class="box4">
                <h1>84</h1>
                <h1>--------</h>
                    <h1>Awards Winning</h1>
            </div>
            <div class="box4">
                <h1>2,500</h1>
                <h1>--------</h1>
                <h1>Associate Lab</h1>
            </div>
            <div class="box4">
                <h1>6,280</h1>
                <h1>--------</h>
                    <h1>Specialized Doctors</h1>
            </div>
        </div>

    </section>

    <footer>
        <div class="footer">
            <p>Copyright &#169; 2021 - Group 5</p>
        </div>
        <p class="rights">All rights reserved</p>
    </footer>
</body>

</html>