* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  background: #fff;
  height: 80px;
  width: 100%;
}
.logo img {
  height: 80px;
  width: 170px;
  margin-left: 125px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  font-family: "Righteous", cursive;
  display: inline-block;
  margin: 0 15px;
  margin-left: 25px;
  padding-top: 1px;
  padding-left: 15px;
  /* font-size: 20px; */
  line-height: 80px;
  font-weight: 700;
}
nav ul li a {
  font-size: 1.3rem;
  color: rgb(17, 143, 226);
  padding-left: 7px;
  padding-bottom: 2px;
  border-left: 3px solid rgb(41, 166, 238);
  border-bottom: 5px solid rgb(41, 166, 238);
  border-radius: 10px;
}
nav ul li a:hover {
  color: rgb(44, 109, 248);
  border-left: 3px solid rgb(44, 92, 248);
  border-bottom: 5px solid rgb(44, 92, 248);
  /* transition: .5s; */
  text-shadow: 0.2px 0.2px 0.5px rgb(30, 119, 252);
  border-left: 3px solid rgb(41, 166, 238);
  border-bottom: 4px solid rgb(41, 166, 238);
}
nav ul li a:active {
  margin-left: 1px;
  border-left: 2px solid rgb(41, 166, 238);
  border-bottom: 2.4px solid rgb(41, 166, 238);
}
.em:hover {
  color: rgb(216, 55, 27);
  border-left: 3px solid rgb(218, 50, 20);
  border-bottom: 5px solid rgb(212, 41, 10);
}
.em:active {
  border-left: 2px solid rgb(218, 50, 20);
  border-bottom: 2.6px solid rgb(212, 41, 10);
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.signin {
  font-weight: 500;
  border-radius: 7px;
  padding: 6px;
  padding: 6px 9px;
  color: white;
  background-color: rgb(31, 128, 240);
}

.signin:hover {
  background-color: rgb(32, 101, 228);
  color: white;
}

#check {
  display: none;
}
@media (max-width: 952px) {
  .logo img {
    margin-left: 5px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1100px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 30px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0000ff;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* SECTION-1 */

.main {
  /* background-image: linear-gradient(to left, rgb(25, 112, 243) , rgb(216, 231, 255)); */
  /* background: url(pimg/ddback3.jpg) no-repeat center center/cover; */
  background-color: rgb(139, 208, 247);
  display: flex;
  width: 100%;
}
.s1 {
  background-color: rgb(6, 79, 214);
  margin: 40px 30px;
  padding: 33px 0px;
  border-radius: 10px;
  /* text-align: center; */
}

.s1 .img img {
  height: 240px;
  width: 240px;
  border-radius: 250px;
  margin: 10px 57px;
}

.about {
  font-size: 1.1rem;
  /* margin: 20px 50px; */
  margin: auto;
  padding: 10px 50px;
}

.about h1 {
  color: white;
  padding: 9px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.s1 u {
  color: rgb(7, 43, 161);
  background-color: rgb(249, 254, 255);
  border-radius: 10px;
  padding: 2px 8px;
  border-bottom: 1.6px solid rgb(255, 255, 255);
  font-weight: 700;
  /* font-family: 'Righteous', cursive; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* SECTION - 2*/

.s2 {
  background-color: rgb(255, 255, 255);
  /* background-image: linear-gradient(to top, rgb(189, 216, 255) , rgb(247, 250, 255)); */
  width: 100%;
  border: 2px solid blue;
  margin: 40px 30px;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgb(77, 124, 156);
}

.s2 h1 {
  color: rgb(5, 29, 116);
  /* border-bottom: 4px solid rgb(9, 53, 199); */
  padding: 6px 30px;
  font-size: 1.9rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.s2 p {
  color: rgb(5, 29, 116);
  text-align: justify;
  padding: 20px 30px;
  font-size: 1.24rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.in_box {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
}

.in_box h2 {
  color: rgb(9, 40, 151);
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px 20px;
}

.in_box u {
  font-weight: 700;
  color: rgb(31, 81, 255);
  text-decoration: none;
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
  /* border-radius: 20px; */
  padding: 6px 15px;
}

/* LINK */

.s1_link {
  text-align: center;
  padding-top: 25px;
}

.s1_link li {
  display: inline-block;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 10px;
}

.s1_link li a {
  background-color: rgb(31, 81, 255);
  text-decoration: none;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 4px 4px 5px rgb(4, 92, 151);
}

.s1_link li a:hover {
  background-color: rgb(10, 84, 170);
}

#myBtn {
  display: block;
  padding-left: 17px;
  /* padding-right: 17px;
  margin-right: 10px; */
  margin: auto;
  background-color: rgb(31, 81, 255);
  text-decoration: none;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 4px 4px 5px rgb(4, 92, 151);
  margin: auto;
}

#myBtn:hover {
  background-color: rgb(10, 84, 170);
}

.myBtn {
  display: block;
  padding-left: 17px;
  /* padding-right: 17px;
  margin-right: 10px; */
  margin: auto;
  background-color: rgb(31, 81, 255);
  text-decoration: none;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 4px 4px 5px rgb(4, 92, 151);
  margin: auto;
}

.myBtn:hover {
  background-color: rgb(10, 84, 170);
}

#book_button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.s1_link li a:active {
  box-shadow: 1px 1px 2px rgb(4, 92, 151);
}

.lastl h1 {
  text-align: center;
  font-size: 1.3rem;
}

/*SECTION-4 STATS*/
/****************************************************************************/
.stats {
  background: url(pimg/lastsec.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .bigbox4 {
  display: flex;
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px rgb(1, 20, 59);
  margin-top: 70px;
  margin-bottom: 60px;
}
.stats .box4 {
  padding-left: 50px;
  padding-right: 50px;
}

/*Footer*/
footer {
  background-color: #343a40;
  color: white;
  height: 8rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  font-size: 1.4rem;
}
.footer p {
  margin: 0;
}
.rights {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
