* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* background: black; */
}
nav {
  background: #fff;
  height: 80px;
  width: 100%;
}
.logo img {
  height: 80px;
  width: 180px;
  margin-left: 125px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  font-family: "Righteous", cursive;
  display: inline-block;
  margin: 0 15px;
  margin-left: 25px;
  padding-top: 1px;
  padding-left: 15px;
  line-height: 80px;
  font-weight: 700;
}
nav ul li a {
  font-size: 1.3rem;
  color: rgb(17, 143, 226);
  padding-left: 7px;
  padding-bottom: 2px;
  border-left: 3px solid rgb(41, 166, 238);
  border-bottom: 5px solid rgb(41, 166, 238);
  border-radius: 10px;
}
nav ul li a:hover {
  color: rgb(44, 109, 248);
  border-left: 3px solid rgb(44, 92, 248);
  border-bottom: 5px solid rgb(44, 92, 248);
  /* transition: .5s; */
  text-shadow: 0.2px 0.2px 0.5px rgb(30, 119, 252);
  border-left: 3px solid rgb(41, 166, 238);
  border-bottom: 4px solid rgb(41, 166, 238);
}
nav ul li a:active {
  margin-left: 1px;
  border-left: 2px solid rgb(41, 166, 238);
  border-bottom: 2.4px solid rgb(41, 166, 238);
}
.em:hover {
  color: rgb(216, 55, 27);
  border-left: 3px solid rgb(218, 50, 20);
  border-bottom: 5px solid rgb(212, 41, 10);
}
.em:active {
  border-left: 2px solid rgb(218, 50, 20);
  border-bottom: 2.6px solid rgb(212, 41, 10);
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.signin {
  font-weight: 500;
  border-radius: 7px;
  padding: 6px;
  padding: 6px 9px;
  color: white;
  background-color: rgb(31, 128, 240);
}

.signin:hover {
  background-color: rgb(32, 101, 228);
  color: white;
}

#check {
  display: none;
}
@media (max-width: 1300px) {
  .logo img {
    margin-left: 5px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1050px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 30px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0000ff;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*SECTION-1*/
.s1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(3, 8, 20, 0.5), rgba(3, 8, 20, 0.5)),
    url(pimg/s1.jpg) center;
  background-size: cover;
  background-position: center;
}
.s1 h1 {
  text-align: center;
  padding-top: 150px;
  color: white;
  text-shadow: 4px 4px 6px rgb(7, 88, 182);
  font-family: "Merienda", cursive;
  font-size: 6rem;
  font-weight: bolder;
}
.s1 p {
  font-family: "Merienda", cursive;
  margin: auto;
  width: 95%;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.s1_link {
  text-align: center;
  padding-top: 40px;
}
.s1_link li {
  display: inline-block;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 10px;
}

.s1_link li a {
  background-color: rgb(10, 105, 214);
  text-decoration: none;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 4px 4px 5px rgb(4, 92, 151);
}
.s1_link li a:hover {
  background-color: rgb(10, 84, 170);
}

.s1_link li a:active {
  box-shadow: 1px 1px 2px rgb(4, 92, 151);
}

.s1_link .qs {
  background-color: white;
  color: rgb(10, 105, 214);
}

.s1_link .qs:hover {
  background-color: rgb(209, 211, 211);
  color: rgb(10, 105, 214);
}
@media (max-width: 860px) {
  .s1 h1 {
    padding-top: 80px;
    font-size: 2.5rem;
  }
  .s1_link li {
    display: block;
    margin-top: 20px;
    padding: 10px;
  }
}

/*SECTION-2 DOCTORS*/

.s2 {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background: url(3docback.jpg) no-repeat center center/cover;
}
.s2h {
  font-size: 2rem;
  color: blue;
  font-family: "Merienda", cursive;
  text-shadow: 3px 3px 5px black;
}
.s2 .services {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}
.s2 .services .box {
  flex-basis: 31%;
  background-color: black;
  font-family: "Righteous", cursive;
  color: rgb(7, 83, 170);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 34px;
  margin: 2px 35px;
  border-radius: 28px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 8px rgb(1, 67, 153);
  tansition: 0.5s;
}
.s2 .services .box:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.9);
}
.s2 .services .box img {
  height: 160px;
  margin: auto;
  display: block;
  border-radius: 100px;
  box-shadow: 6px 6px 6px rgb(30, 57, 87);
}
.s2 .services h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Merienda", cursive;
  text-shadow: 3px 3px 5px black;
}
.s2 .services h2 {
  font-size: 1.2rem;
  font-family: "Righteous", cursive;
  font-weight: 500;
  margin-bottom: 40px;
}
.s2 .services .box p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  text-align: justify;
}
.services .box:hover {
  transform: scale(1.05) !important;
}
@media (max-width: 860px) {
  .s2 .services {
    flex-direction: column;
  }
}
/* SECTION-3 HAPPY PAT. */
.s3 {
  padding-top: 45px;
  padding-bottom: 52px;
  width: 100%;
  background: url(pimg/s3back1.jpg) no-repeat center center/cover;
  text-align: center;
}

.pat {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  display: inline-block;
}
.pat .box3 {
  display: flex;
  font-family: "Bree Serif", serif;
  color: rgb(5, 93, 165);
  padding: 34px;
  margin: 0px 80px;
  border-radius: 28px;
  align-items: center;
}

.pat .box3 p {
  color: rgb(17, 38, 158);
  border-right: 4px solid rgb(4, 95, 214);
  border-bottom: 4px solid rgb(4, 95, 214);
  padding: 15px;
  border-radius: 15px;
  background-color: whitesmoke;
  opacity: 0.9;
  font-family: "Bree Serif", serif;
  text-align: justify;
  font-size: 1.25rem;
}

.dp {
  margin-right: 1.5rem;
}

.dp-left {
  margin-left: 1.5rem;
}

.dp h1 {
  padding-bottom: 0.8rem;
}

.dp-left h1 {
  padding-bottom: 0.8rem;
}

.s3h {
  text-align: center;
  padding-top: 22px;
  color: rgb(25, 98, 194);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}
.box3 img {
  height: 160px;
  margin: auto;
  display: inline-block;
  border-radius: 80px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 6px rgb(24, 74, 131);
}
@media (max-width: 1100px) {
  .pat {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  }
  .pat .box3 {
    padding: 0px;
    margin: 0px 3px;
  }
  .pat .box3 p {
    font-size: 0.8rem;
  }
}

/*SECTION-4 STATS*/
/****************************************************************************/
.stats {
  background: url(pimg/lastsec.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats .bigbox4.box4 h1 {
  font-size: 5px;
}
.stats .bigbox4 {
  display: flex;
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px rgb(1, 20, 59);
  margin-top: 70px;
  margin-bottom: 60px;
}
.stats .box4 {
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 1100px) {
  .stats .box4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stats .box4 h1 {
    font-size: 12px;
  }
}
/*Footer*/
footer {
  background-color: #343a40;
  color: white;
  height: 8rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  font-size: 1.4rem;
}
.footer p {
  margin: 0;
}
.rights {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
