.notifi-box {
  width: 300px;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: 80px;
  right: 185px;
  transition: 1s opacity, 250ms height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}
.notifi-box h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  /* color: #999; */
  color: black;
}
.notifi-box h2 span {
  color: #f00;
}
.notifi-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 15px 5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.notifi-item:hover {
  background-color: #eee;
}
.notifi-item img {
  display: block;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.notifi-item .text h4 {
  /* color: #777; */
  color: black;
  font-size: 16px;
  margin-top: 10px;
}
.notifi-item .text p {
  /* color: #aaa; */
  color: black;
  font-size: 12px;
}

.notifi-box {
  overflow-y: scroll;
}
